                .special-font {
                font-family: 'Dancing Script', cursive;
                color: white;
            }
            
            body {
                background-image: gradient(darkblue, lightblue);
            }
            
            .special-font:hover {
                color: gray;