                        .special-font {
                        font-family: 'Dancing Script', cursive;
                        color: white;
                    }
                    
                    body {
                        background-image: linear-gradient(to right, darkblue, lightblue);
                    }
                    
                    .special-font:hover {
                        color: gray;